/* Larger than mobile */
@media screen and (max-width: 750px)
 {
    /* Header  sama dengan style.css*/
    /* Site Menu */

    .site-menu .menu ul > li {
        display: block !important;
    }
    .site-menu .menu ul > li a {
        display: inline-block;
        height: 0px;
        padding: 9px 0px;
    }
    .site-menu .menu {
        position: static;
        float: none ;

    }
    .site-menu .container {
        width: 100% !important;
        padding: 0px !important;
    }
    .site-menu .hamburger{
        position: relative;
        left: 38px;
        bottom: 17px;
        width: 50%;
    }
    .menu{
        font-size:0.8em;
        width:100%;
        background: #42B548;
        position:relative;
        background-position:center;
        background-size : 150%;
        text-align:center;
        z-index: 4;
    }
    .menu ul {
        height: 248px;
    }
    .menu li {
        display: block;
    }
    .menu li:hover{
        display: block;
        background:#42B548;
    }
    .menu ul li a {
        text-decoration:none;
        margin: 0px;
        color:#f4f4f4;
    }
    .menu ul li a:hover {
        color: #fff;
        text-decoration:none;
    }
    .menu a{
        text-decoration:none;
        color:white;
    }
    .menu a:hover{
        text-decoration:none;
        color:#f4f4f4;
    }

    .site-menu .logo {
        visibility: hidden;
        position: fixed;
    }

    .site-menu .logo2 {
        display: inline-block !important;
        float: none;
        width: 90px;
        position: relative;
        top : -5px;
    }
    .site-menu a{
        display: inline-block ;
        position: relative;
        top: 15px;
        left: 15px;
        padding-bottom: 0px;
        }
    .site-menu .closebtn {
        position: relative;
        top: 15px;
        font-size: 38px;
        visibility: visible;
    }

    .site-menu span{
        visibility: visible;
        position: relative;
        color: #42B548;
    }
    /* opening */

    #head img{
        width: 585px;
    }

    #head {
        height: auto;
    }

    /*bab1*/
    #bab1 {
        height: 600px;
    }

        /*syarat*/
    .vr {
        display: none;
    }
    /*bab2*/
    #bab2 h3{
        font-size: 2.5rem;
    }
    #bab2 .four{
        width: 100%;
        background-color: #42B548;
        margin-left: 0px;
        margin-top: 5%;
    }
    #bab2 .three{
        width: 100%;
        background-color: #42B548;
        margin-left: 0px;
        margin-top: 5%;
    }
    #bab2 .tengah{
        height:auto;
        border-radius: 5px;
        background-color: #F4F4F4;
        color: #42b548;
        display: inline-block;
        width: 180px;
    }


    /*bab3*/

    /*penutup */

        #penutup .bullet {
            width: 100%;
        }

        #penutup img{
            width: 50px;
        }

        #penutup .gambar {

            width: 100%;
            left: 0px;

        }

        #penutup .columns {
            width: 100% !important;
            margin-left: 0px !important;
        }

        #gab .kiri{
            display: none;
        }

        #gab .six{
            width: 100%;
        }

    .section-title {
        margin-top:5px;
    }

    /*form*/

    .vr2{
        width:1px;
        background-color:white;
        position: absolute;
        top:0;
        bottom:0;
        height: auto;
        left: 1px;
        margin: 0 0px
    }

    #syarat2 .srt{
        margin-left: 10px;
        width: 500px;
    }

    #syarat2 .juduls2{
        background-position: fixed;
    }

    .form-control {
        width: 100%;
    }

    #gab button{
        background-color: #bf3b2b;
        margin: 0;
        padding: 10px 15px;
        line-height: inherit;
        font-size: 16px;
        height: auto;

    }

    #gab .kiri{
        position: relative;
        left: -35px;
    }

    input {
        color: black;
    }

    button.register-btn3{
        background-color: #F8DEA3 !important;
        color: black;
    }

    div.register-btn3-change:hover button.register-btn3 {
        background: #bf3b2b !important;
        color: white;
    }

    div.register-btn3-change{
        width: 100px;
    }

    .bgsyarat .columns {
        float: none;
    }

    #juduls h2{
        top: 0px;
    }
    #syarat{
        padding: 0px;
        top: 0px;
    }

    #juduls .three {
        display: none;
    }
}
@media screen and (max-width: 609px){

#bab1 .color{
    position: relative;
    width: auto;
    z-index: 1;
    top: -288px;
}

#bab1 .six{
    width: 100%;
}
#bab1 img{
    opacity: 0.6;
}
}
@media screen and (max-width: 585px){
    #pendaftaran .tengah{
        width: 50% ;
        font-size: 13px;
    }
}
