@font-face {
    font-family: "CaviarDreams";
    font-style: normal;
    font-weight: normal;
    src: url('../webfonts/CaviarDreams.ttf');
}

@font-face {
    font-family: "CaviarDreams";
    font-style: italic;
    font-weight: normal;
    src: url('../webfonts/CaviarDreams_Italic.ttf');
}

@font-face {
    font-family: "CaviarDreams";
    font-style: normal;
    font-weight: bold;
    src: url('../webfonts/CaviarDreams_Bold.ttf');
}

@font-face {
    font-family: "CaviarDreams";
    font-style: italic;
    font-weight: bold;
    src: url('../webfonts/CaviarDreams_BoldItalic.ttf');
}

@font-face {
    font-family: "BebasNeue";
    font-style: normal;
    font-weight: normal;
    src: url('../webfonts/BebasNeue Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family:  "BebasNeue" !important;
}

body {
    background: url('../stardust.png')#0a1a2e fixed;
    font-family: "CaviarDreams";
}

/* Header */

.header {
    height: 100px;
    padding: 10px 0;
    box-sizing: border-box;
}

.site-title {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
}

.site-title img {
    display: inline-block;
    width: auto;
    height: 80px;
    margin: 0 15px 0 0;
}

.site-title h1 {
    position: relative;
    bottom: 30px;
    display: inline-block;
    font-size: 32px;
    line-height: 32px;
    margin: 0;
}

/* Site Menu */

.site-menu {
    top: 100px;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #bf3b2b;
}

.site-menu .logo {
    display: block;
    float: left;
    width: auto;
    height: 80px;
}

.site-menu .menu {
    position: relative;
    top: 20px;
    float: right;
}

.site-menu .menu ul > li {
    display: inline-block;
    margin: 0 -4px 0 0;
}

.site-menu .menu ul > li a {
    display: block;
    height: 40px;
    font-size: 18px;
    line-height: 18px;
    padding: 11px 20px;
    text-decoration: none;
    color: #fff;
}

/* Content */

.content {
    height: 450px;
}

/* opening */

.opening {
    position: relative;;
    height: 500px;
    display: block;
}

#opening .teks{
        position: relative;
        top: 55px;S
}
.opening .logo2{
    display: block;
    width: 300px
}

.opening .button{
    color: #ffffff;
    background-color: #bf3b2b;
}

/*bab1*/

#bab1{
    height: 450px;
    position: static;
    box-sizing: border-box;
    background-color: #8ccdbc;
    padding: 50px 50px;
}
#bab1 img {
    width: 200px;
    height: 350px;
    position: static;
}

#bab1 .color{
    color:black;
}
/*syarat*/
#juduls {
    padding: 30px 0 0 0;
}
#syarat{
    padding: 50px 0;
}
.vr{
    width:1px;
    background-color:white;
    position: absolute;
    top:0;
    bottom:0;
    height: auto;
    left:250px;
    margin: 0 50px
}

/*bab2*/

#bab2{
    box-sizing: border-box;
    margin-left: 0;
    padding: 50px;
    background-color: #8ccdbc;
}

#bab2 img{
    position: relative;
    top: 50px;
    width: 175px;
    margin: 25px 0;
}

#bab2 .twelve{
    position: relative;
    left: 20px;
    color: black;
    padding-bottom: 20px;
}

#bab2 .four{
    width:280px;
    height:450px;
    border-radius: 125px;
    background-color: white;
    color: black;
}
#bab2 .three{
    width:280px;
    height:450px;
    border-radius: 125px;
    background-color: white;
    color: black;
}

#bab2 h4{
    font-size: 20px;
}

/*timeline*/
#judulj {
    padding: 30px 0 0 0;
}

#cd-timeline .cd-date {
    color: white;
    font-size: 20px;
}

#cd-timeline h2{
    font-size: 30px;
}
#cd-timeline p {
    font-size: 20px;
}


/*bab3*/

#bab3 {
    padding: 50px 0;
    background: url('../paralax.jpg');
    background-attachment: fixed;
    background-position: fixed;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% 700px;
}
#bab3 .button{
    width: 300px;
    height: auto;
    background-color:#bf3b2b;
}
#bab3 .register-btn {
    font-size: 18px;
    padding: 15px 0;
    color: white;
}

/*penutup */

#penutup {
    padding: 50px 0;
}
#penutup img{
    width: 50px;
}
