
@font-face {
    font-family: "CaviarDreams";
    font-style: normal;
    font-weight: normal;
    src: url('../webfonts/CaviarDreams.ttf');
}

@font-face {
    font-family: "CaviarDreams";
    font-style: italic;
    font-weight: normal;
    src: url('../webfonts/CaviarDreams_Italic.ttf');
}

@font-face {
    font-family: "CaviarDreams";
    font-style: normal;
    font-weight: bold;
    src: url('../webfonts/CaviarDreams_Bold.ttf');
}

@font-face {
    font-family: "CaviarDreams";
    font-style: italic;
    font-weight: bold;
    src: url('../webfonts/CaviarDreams_BoldItalic.ttf');
}

@font-face {
    font-family: "BebasNeue";
    font-style: normal;
    font-weight: normal;
    src: url('../webfonts/BebasNeue Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family:  "BebasNeue" !important;
}

body {
    /*background-color: #F4F4F4;*/
    background: url('../pattern.png');
    font-family: "CaviarDreams";
}

a{
    display: block;
        color: black;
}
/* Header */

.header {
    padding: 20px 0;
    box-sizing: border-box;
    background-color: rgb(10, 26, 46);
}


.site-title {
    text-align: center;
}

.site-title img {
    display: inline-block;
    width: 80px;
    margin: 0 15px 0 0;
}

.site-title h1 {
    position: relative;
    bottom: 10px;
    display: inline-block;
    font-size: 32px;
    line-height: 32px;
    margin: 0;
}

a.site-title{
    color: #f4f4f4;
}

/* Site Menu */

.site-menu {
    top: 100px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFF;
    border-bottom: 1px solid #d9d9d9;
    z-index: 3;
}

.site-menu .logo {
    display: block;
    float: left;
    width: 100px;
    padding: 1% 0px;
}

.site-menu .menu {
    position: relative;
    top: 0px;
    float: right;

}

.site-menu .menu ul > li {
    display: inline-block;
}

.site-menu .menu ul > li a {
    display: block;
    height: 40px;
    font-size: 12px;
    line-height: 18px;
    padding: 14px 9px;
    text-decoration: none;
}

.site-menu ul{
    margin-bottom: 0px !important;
}

.site-menu .closebtn{
    visibility: hidden;
    position: fixed;
}

.site-menu span{
    visibility: hidden;
    position: fixed;
    font-size:20px;
    cursor:pointer;
}
.site-menu .logo2{
    display: none;
}

/* opening */

#head {
    height: 425px;
}
#head img{
    width: 75%;
}
.opening {
    position: relative;
    display: block;
    height:auto;
}

#opening .teks{
        position: relative;
        z-index: 1;
}

#opening2 {
    background-color: white;
}

#opening .bg1{
        width:300px;
        height:55px;
        border-radius: 20px;
        background-color: #F98009;
        color: white;
        position: relative;
}

#opening2 .bg1{
        width:350px;
        height:55px;
        border-radius: 5px;
        background-color: #f98009;
        color: white;
        position: relative;
        top: 15px;
        z-index: 2;
}

#opening2 .bg2{
    border-radius: 5px;
    background-color: #42B548;
    color: white;
    font-size: 25px;
    padding: 25px 0px;
    position: relative;
    top: -25px;
    z-index: 1;
}

#opening2 img{

    position: relative;
    top: 36px;

}
.opening .logo2{
    display: block;
    width: 200px;
    position: relative;
    top: 145px;
    left: 15px;
}

a.register-btn{
    background-color: #42B549;
    border-radius: 5px;
    color: white;
    margin: 0;
    line-height: inherit;
    position: relative;
    padding: 10px 20px;
    height: 50px;
    width: auto;
}

div.register-btn-change:hover a.register-btn{
    background: #4fa149;
    color: white;
}

div.register-btn-change{
    width: 240px;
}

a.menu-link:hover {
    background-color: #49B86B;
    color: white;
}
a.site-title{
    display: inline;
}
a.site-title:hover {
    color: white;
}


/*bab1*/

#bab1{
    height: 450px;
    position: static;
    box-sizing: border-box;
    background-color: #42B548;
    border: 1px solid #F4F4F4;
    padding: 50px 50px;
}
#bab1 img {
    position: static;
    width: 200px;
    height: 350px;
}

#bab1 .color {
    color: white;
}
/*syarat*/
#juduls h2{
    position: relative;
    top: 50px;
    color: #42B548;
}
#syarat{
    padding: 50px 0;
    position: relative;
    top: 5px;
    bottom: 5px;
}

#syarat .eight{
    color: #42B548;
}
.vr{
    width:1px;
    background-color: #42B548;
    position: absolute;
    top:0;
    bottom:0;
    height: auto;
    left: 15%;
    margin: 0 50px
}
/*bab2*/

#bab2{
    box-sizing: border-box;
    margin-left: 0;
    padding: 50px;
    background-color: #42B548;
    height: auto;
}
#bab2 h2{
    background-color: #F98009;
    border-radius: 15px;
    width:50%;
    color: white;
}
#bab2 img{
    position: relative;
    top: 50px;
    width: 175px;
    margin: 25px 0;
}

#bab2 .twelve{
    position: relative;
    color: black;
    padding-bottom: 20px;
}

#bab2 .four{
    height:auto;
    border-radius: 5px;
    background-color: #F4F4F4;
    color: #42b548;
}
#bab2 h4{
    font-size: 20px;
}

/*timeline*/
#judulj {
    padding: 30px 0 0 0;
}

#judulj h1{
    color: #42b548 !important;
}
#cd-timeline .cd-date {
    color: #42b548;
    font-size: 20px;
    background-size: auto;
    font-weight: bold;
}

#cd-timeline h2{
    font-size: 30px;
    color: white;
}
#cd-timeline p {
    font-size: 20px;
}

.cd-timeline-content {
    border: 1px solid #42b548;
    background: #42b548;
    color: white;
}


.cd-timeline-content::before{
    border-left-color: #42b548;
}
.cd-timeline-block:nth-child(2n) .cd-timeline-content::before {
    border-right-color: #42b548;
}
/*bab3*/

.bab3 {
    background: #0a1a2e;
    background-image: url(../paralax.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 800px ;

}
a.register-btn2{
    width: 300px;
    height: auto;
    background-color:#42B549;
    font-size: 18px;
    margin: 60px 0;
    padding: 15px 0;
    color: white ;
    border-radius: 5px;
}

div.register-btn2-change:hover a.register-btn2{
    background: #4fa149;
    color: white;
}

div.register-btn2-change{
    width: 300px;
}


/*penutup */

#penutup {
    padding: 50px 0;
    height: auto;
}
#penutup h3{
    background-color: #f98009;
    border-radius: 5px;
    width: 200px;
    z-index: 2;
    position: relative;
}
#penutup .bullet {
    background-color: #F4F4F4;
    border-radius: 5px;
    width: 400px;
    height:auto;
    color: black;
    margin: 0;
    padding: 45px 20px;
    position: relative;
    top: -60px;
    z-index: 1;
    border: 1px solid #42B549;
}

#penutup img{
    width: 50px;
}
#penutup .gambar {
    background-color: #F4F4F4;
    border-radius: 5px;
    width: 400px;
    color: black;
    margin: 0;
    padding: 45px 20px;
    position: relative;
    top: -60px;
    left: 30px;
    height: auto;
    z-index: 1;
    border: 1px solid #42B549;
}
#penutup a{
    display: inline;
}

/*reveal*/

    /* Ensure elements load hidden before ScrollReveal runs */
    .sr #bab1
    .sr #bab2
    .sr #bab3
    .sr #penutup
    .sr #opening
    .sr #syarat
    .sr #juduls
    .sr #judulj
    .sr #cd-timeline{ visibility: hidden; }

    /* add perspective to your container */
    #bab1 .container { perspective: 800px; }

    body{
        background-position: 50% 0;
        position: relative;
    }

.pendaftaran_berhasil{
    float: right;
    width: 100%;
}

#pendaftaran .kanan {
    width: 100%;
}

#pendaftaran .breadcrumb {
	float:right;
	background:transparent;
	margin-top:0;
	margin-bottom:0;
	padding:7px 5px;
	position:relative;
	top:15px;
	right:10px;
	border-radius:2px;
}
#pendaftaran .breadcrumb li {
	color:#42B548;
	list-style:none;
	display:inline-block;
}

#pendaftaran .breadcrumb>li+li:before {
	content:'>\00a0'
}

#pendaftaran a {
    display: inline-block !important;
}

#pendaftaran a:hover{
    color: white;
    background-color: #49B86B;
}
.section-title {
    margin-top:5px;
}

#pendaftaran .columns{
    color: #42B548;
}

#gab .columns{
    color: #42B548;
}

/*form*/

.vr2{
    width:1px;
    background-color:white;
    position: absolute;
    top:0;
    bottom:0;
    height: auto;
    left: 1px;
    margin: 0 0px
}

#syarat2 .srt{
    margin-left: 10px;
    width: 500px;
}

#syarat2 .juduls2{
    background-position: fixed;
}

.form-control {
    width: 100%;
}

#gab button{
    background-color: #bf3b2b;
    margin: 0;
    padding: 10px 15px;
    line-height: inherit;
    font-size: 16px;
    height: auto;

}

#gab .kiri{
    position: relative;
    left: -35px;
}


input {
    color: black;
}

button.register-btn3{
    background-color: #42B548 !important;
    color: white;
}

div.register-btn3-change:hover button.register-btn3 {
    background: #4fa149 !important;
    color: white;
}

div.register-btn3-change{
    width: 100px;
}
.btn4{
    background-color: #42B548 !important;
    color: white;
}

a.btn4{
    display:inline;
}

div.btn4-change:hover button.btn4{
    background: #4fa149 !important;
    color: white;
}
#kategori {
    background-color: #42B548;
    color: white;
    height: auto;
}

.warna {
    color: #42B548;
}
.bgkategori {
    height:auto;
    width: auto;
    border-radius: 5px;
    background-color: #F4F4F4;
    color: #42b548;
}

.full{
    height: 801px;
}

#site-menu .hide {
    display: none;
}

#kategori .three {
    padding: 2%;
}

#kategori img {
    border-radius: 120px;
}

#kategori .nine{
    text-align: justify;
}
